<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Error page</title>
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
		
			</head>
		
			<body>
				<h1>Something went wrong.</h1> 
				
				<p>We could not find stock symbol {{stock_symbol}}.</p>
				<p>Please check that {{stock_symbol}} is valid and try again.</p>		
		
	    		<form id='stock' method='post' action='index' >
	      		  <p>
	    			  Try another stock symbol: <input type='text' name='stock_symbol' autocomplete="off"/>
	    			  <input type='submit' value='Submit' />
	      		</p>
	    </form>
			</body>
		</html>
		