<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock inspector2</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<div>
  			<h1>Enter stock symbol</h1>
		</div>
	    <form id='stock' method='post' action='index' >
	      <p>
	    Name: <input type='text' name='stock_symbol' autocomplete="off"/>
	      </p>
	      <p>
	    <input type='submit' value='Submit_stock' />
	      </p>
	    </form>
		
		
	</body>
</html>
